/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --brand: #8246af;
  --heading: #0000002b;
}

/* CSS Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 100px;
  line-height: 60px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--heading);
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

p {
  font-family: "Nunito Sans", sans-serif;
  margin: 50px;
}

li {
  font-family: "Nunito Sans", sans-serif;
  margin: 50px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 100vh;
}

.big-digits {
  font-family: "Nunito Sans", sans-serif;
  font-size: 100px;
  line-height: 100px;
  font-weight: 300;
  margin-right: 40px;
}

.line_horizontal {
  width: 60px;
  height: 2px;
  margin-bottom: 8px;

  background-color: #77787a;

  color: #77787a;
}

.hero-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.down-arrow {
  font-size: 40px;
  margin-top: 40px;
  animation: updown 2s infinite alternate; /* Apply the 'pulse' animation */
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(0); /* Starting and ending position */
  }
  50% {
    transform: translateY(-10px); /* Highest point of the bounce */
  }
}

.biography-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.biography-title {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.line_and_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 8px;
}

img {
  width: 100%;
  margin-bottom: 40px;
}

/* Burger Menu Styles */
.burger-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
}

.burger-menu .line {
  height: 4px;
  background-color: #333;
  transition: all 0.3s ease;
}

/* When the burger menu is open (cross state) */
.burger-menu.open .line {
  background-color: white; /* Change color to white when open */
}

.burger-menu .line-2 {
  width: 20px;
}

.burger-menu.open .line-1 {
  transform: translateY(9px) rotate(45deg);
}

.burger-menu.open .line-2 {
  opacity: 0;
}

.burger-menu.open .line-3 {
  transform: translateY(-9px) rotate(-45deg);
}

/* Navigation Menu */
.nav-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease;
  z-index: 2;
}

.nav-menu.open {
  left: 0;
}

.nav-menu ul {
  list-style: none;
  text-align: center;
}

.nav-menu li {
  margin: 20px 0;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #f39c12;
}

/* Styles for screens 768px and wider (e.g., tablets and desktop) */
@media screen and (min-width: 768px) {
  section {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
  }
  .image_and_paragraph {
    display: flex;
    flex-direction: row-reverse;
  }
  .biography-title {
    width: 100%;
  }
  img {
    width: 60%;
    margin-bottom: 0;
  }
}
